* {
    margin:0;
    padding:0;
}

.head {
    width: 100%;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
    border: 1px solid black;
    text-align: left;
}


h1, h2, h3, p, th, td, li{
    font-family: Arial;
    color: black;
}

th {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(51, 51, 51);
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/5677.jpg);
    background-size: cover;
}

aside {
    margin-right: 10%;
}

a {
    color: black;
}

a:active {
    color: white;
}

a:hover {
    color: aquamarine;
}

a:visited {
    color: rgb(0, 131, 253);
}

.Nvg {
    background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
    text-align: center;
    font-size: x-large;
    text-shadow: white;
    width: 100%;
}

.Int-yap {
    text-align: center;
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.int-list {
    color: black
}

.prof-yap {
    text-align: left;
    max-width: 50%;
    color: black;
}

.gimma-img {
    float: left;
}


.prof-left {
    width: 47%;
    float: left;
    padding-left: 3%;
    color: black;
}

.prof-right {
    width: 50%;
    float: right;
}

.tabel-stats{
    margin: auto;
    width: 90%;
    background-color: rgba(70, 70, 70, 0.7);
}

.FAQL {
    margin-left: 3%;
    margin-bottom: 3%;
}